<div class="d-flex justify-content-center align-items-center">
    <h1 class="p-2 flex-grow-1">Calories</h1>
    <h4 class="p-2"><%= pluralize(@total_records, "record")%></h4>
</div>
<div id="calories" class="container row row-cols-4">
  <% @calories.each do |calory| %>
    <div class="col card text-white <%= calory.is_burned ? "bg-success" : "bg-danger" %> mb-3 border" style="max-width: 18rem;">
      <div class="card-header"><%= calory.updated_at.strftime("%F %T")  %></div>
      <div class="card-body">
        <%= render calory %>
        <%= link_to "Show this calorie", calory, class:"btn btn-warning" %>
      </div>
    </div>
  <% end %>
</div>
<div>
  <%= paginate @calories %>
</div>

<%= link_to "New calorie", new_calory_path, class:"btn btn-primary" %>
