<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              USER
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Admin", "#", class:"dropdown-item" %> </li>
              <li><%= link_to "New Post", "#", class:"dropdown-item" %> </li>
              <li><%= link_to "New Project", "#", class:"dropdown-item"   %> </li>
              <li><%= link_to "New Category", "#", class:"dropdown-item"  %> </li>
              <li><%= link_to "Edit Account", "#" ,class:"dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Sign out", "#", method: :delete, class:"dropdown-item"   %></li>
            </ul>
</li>